@import 'tailwindcss';

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 0.25rem;
}

html {
  background: #18171a;
  overflow-x: hidden;
}

body {
  background: #18171a;
  color: rgb(236, 231, 231);
  box-sizing: border-box;
  overflow-x: hidden;
}

#app-container {
  height: 100vh;
}

.suspense {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
